# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.env/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Cache
# =========================
.cache/

# =========================
# Dataset lourd
# =========================
data/ml-latest-small/

# =========================
# Environment variables
# =========================
.env

# =========================
# Build
# =========================
build/
dist/
*.egg-info/